
<h1> This is BATTLE! </h1>
<h2>Sign in to play</h2>

<form action="/names" method="post">
  <label for="player_1">
    Player One Name
    <input type="text" name="player_1">
  </label>
  <label for "player_2_name">
    Player Two Name
    <input type="text" name="player_2">
  </label>
  <input type="submit" value="Submit">
</form>
